/*--------------------------------------------------------------
# c00 - Base - Containers
--------------------------------------------------------------*/

@use "../abstracts" as *;

.container,
.container-fluid,
.container-narrow {
	inline-size: 100%;
	max-inline-size: 100%;
	margin-inline-start: auto;
	margin-inline-end: auto;
	padding-inline-start: $gutter_half;
	padding-inline-end: $gutter_half;
}

@each $breakpoint, $container in $containers {
	$breakpoint-value: map-get($breakpoints, $breakpoint);

	.container {
		@include media-only($breakpoint) {
			max-inline-size: $container;
		}
	}
}

.container-fluid {
	max-inline-size: 100%;
}

.container-narrow {
	max-inline-size: map-get($containers, lg);
}

.row {
	display: grid;
	grid-template-columns: repeat($columns, minmax(0, 1fr));
	margin-inline: calc(-1 * $gutter_half);
}
